{% extends "base.html.twig" %}

{% block body %}

{# barre de recherche #}
<nav>
    <div class="bar ">
        <div class="location">
          <p>Location</p>
          <select name="pays" id="pays-select">
            <option value="">Choisir un pays</option>
            <option value="France">France</option>
            <option value="Germany">Allemagne</option>
            <option value="Spain">Espagne</option>
            <option value="United States">USA</option>
            <option value="United Kingdom">Angleterre</option>
            <option value="Italy">Italie</option>
            <option value="China">Chine</option>
            <option value="Japan">Japon</option>
          </select>
        </div>
        <div class="check-in">
              <p>Arrivée</p>
          <input type="date" placeholder="Add dates">
        </div>
        <div class="check-out">
              <p>Départ</p>
          <input type="date" placeholder="Add dates">
        </div>
        <div class="guests">
              <p>Chambre</p>
              <select name="chambre" id="chambre-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
                <span>
                    <button>
                        <i class="bi bi-search"></i>
                    </button>
                </span>
        </div>
      </div>
</nav>

<div class="mt-5  d-flex flex-row tags">
    {% for type in types %}
       <a class="d-flex flex-column m-3 mx-5 align-items-center tag" href="tag/{{type.id}}">
        <img src="/img/logo_types/{{type.imagePath}}" alt="" class="imgIcn" />
        <span>{{type.label}}</span>
    </a> 
    {% endfor %}    
</div>


    <div class="d-flex flex-wrap align-items-center mt-5">
        {% for logement in logements %}
            <div class="card d-flex flex-column align-items-between" style="width: 18rem; height: 500px;">
                <img class="card-img-top" src="/img/{{logement.imagePath}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{logement.name}}, {{logement.ville}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">{{logement.prix}}€/nuit</li>
                <li class="list-group-item">{{logement.couchage}} chambre(s)</li>
                
                <li class="list-group-item">{{logement.typeId[0].label}}</li>
                
                </ul>
                <div class="card-body">
                <a href="{{path('detailLogement', {id: logement.id})}}" class="card-link">Voir l'annonce</a>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}