{% extends "base.html.twig" %}

{% block title %}Mes logements{% endblock %}

{% block body %}
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% for logement in logements %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{vich_uploader_asset(logement)}}" alt="{{ logement.name }}">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ logement.name }}</h5>
                            <!-- Product price-->
                            {{ logement.prix }} €
                            <h6 class="fw-bolder mt-4">{{logement.pays}}</h6>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark " href="{{path('detailLogement', {id: logement.id})}}">Voir l'annoce</a></div><br>
                        <div class="text-center"><a class="btn btn-outline-dark " href="{{path('app_logement_edit', {id: logement.id})}}">Modifier l'annonce</a></div><br>
                        <div class="text-center"><a class="btn btn-outline-dark " href="{{path('app_logement_delete', {id: logement.id})}}">Supprimer l'annonce</a></div><br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}